.card {
    border-radius: 4px;
    box-sizing: border-box;
    background-color: $color-base-white;
}

.catalog__product-card-list {
    display: grid;
    list-style: none;
    gap: 20px;

    @media (min-width: $breakpoint-medium) {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    @media (min-width: $breakpoint-large) {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
}

.product-card__item-image {
    // margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

.product-card__item-picture {
    display: block;
}

.product-card__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;

    @media (min-width: $breakpoint-medium) {
        font-size: 24px;
        line-height: 36px;
    }
}

.product-card__title-link {
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    color: $color-base-black;
}

.product-card__description  {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.product-card__price-wrapper {
    display: grid;
    grid-template-columns: 1fr 165px;
    gap: 50px;
    align-items: center;

    @media (min-width: $breakpoint-medium) {
        gap: 99px;
    }

    @media (min-width: $breakpoint-large) {
        gap: 67px;
    }
}

.product-card__price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px;

    margin: 0;
}

.product-card__button {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    border-radius: 4px;

    &::before {
        content: "";
        background: url(../../images/icons/bag-plus.svg) no-repeat center;
        width: 20px;
        height: 16px;
    }
}
