.catalog-filter__price {
    border: none;

    &-range {
        position: relative;
        width: 318px;
        height: 24px;
    }
}

.catalog-filter__title--price {
    margin-bottom: 20px;
}

.catalog-filter__range {
    &-container {
        position: relative;
        border-radius: 4px;
        padding: 8px 10px;
    }
    
    &-scale {
        height: 2px;
        background-color: $color-light-grey;
    }

    &-bar {
        position: absolute;
        top: 30px;
    }    
}
