.page-header__bar {
    padding: 12px 0 12px 0 20px;

    @media (min-width: $breakpoint-large) {
        padding: 22px 0 22px 0 20px;
    }

    @media (min-width: $breakpoint-small-down) {
        display: flex;
    }
}

.page-header__title {
    display: none;
    margin: 22px 0 0 22px;
    width: 126px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;

    @media (min-width: $breakpoint-large) {
        display: block;
        margin: 22px 0 0 22px;
    }
}

.page-header__logo-image {
    display: block;
    align-items: center;
    margin: 8px 0 0 22px; //  подобрала ?

    @media (min-width: $breakpoint-medium) {
        padding: 10px 0;
    }
}
