
.page-header__menu {
    margin: 0;

    @media (min-width: $breakpoint-medium) {
        margin-right: 60px;
        margin-left: 66px;
    }

    @media (min-width: $breakpoint-large) {
        margin-left: 67px;
    }
}

.page-header--closed .page-header__menu-list {
    @media (max-width: $breakpoint-small-down) {
        display: none;
    }
}

.page-header--without-js .page-header__menu-list {
    @media (max-width: $breakpoint-small-down) {
        display: block;
        position: relative;
    }
}

.page-header--without-js .page-header__toggler {
    @media (max-width: $breakpoint-small-down) {
        display: none;
    }
}

.page-header__toggler {
    box-sizing: border-box;
    border: none;
    position: relative;
    min-width: 60px;
    min-height: 60px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: $breakpoint-medium) {
        display: none;
    }

    &:active {
        background-color: $color-base-secondary;
    }
}

.page-header__menu-list {
    list-style: none;
    background-color: $color-base-white;
    padding: 0;

    @media (max-width: $breakpoint-small-down) {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 2;
    }

    @media (min-width: $breakpoint-medium) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 0;
        padding: 0;
        margin: 4px 0 0 auto;
    }
}

.page-header__menu-item {
    @media (max-width: $breakpoint-small-down) {
        border-bottom: 1px solid $color-base-secondary;
    }
}

.page-header__menu-item-link {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.24px;
    text-transform: uppercase;
    min-height: 63px;
    padding: 20px;

    &:hover,
    &:focus {
        color: $color-base-primary;
    }

    &:active {
        background-color: $color-base-secondary;
    }

    @media (min-width: $breakpoint-medium) {
        color: $color-base-black;
    }

    @media (min-width: $breakpoint-large) {
        margin: 0 20px;
    }
}

.page-header__menu-item-link--active {
    @media (min-width: $breakpoint-medium) {
            color: $color-base-primary;
            border-bottom: 2px solid $color-base-primary;
    }
}

// .page-header--opened .page-header__toggler {
// }
 