.page-header {
  &__bar {
    margin: 12px 0 12px 20px;
    padding: 0;

    @media (min-width: $breakpoint-large) {
      padding: 6px 0;
      margin-left: 40px;
    }

    @media (min-width: $breakpoint-medium) {
      padding: 6px 0;
      margin: 12px 0 22px 20px; //top - подобрала
    }

    @media (min-width: $breakpoint-small-down) {
      display: flex;
    }
  }

  &__title {
    display: none;

    @media (min-width: $breakpoint-large) {
      display: block;
      width: 126px;
      height: auto;
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      margin: 2px 0 2px 20px;
    }
  }
}
