.page-header {
    position: relative;
    
    @media (min-width: $breakpoint-medium) {
      min-height: 80px;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
  
    @media (min-width: $breakpoint-large) {
      max-width: 1360px;
      margin-right: auto;
      margin-left: auto;
    }
}

.page-header--closed .page-header__menu-list {
    @media (min-width: $breakpoint-small-down) {
        display: none;
    }
}

.page-header__toggler {
    box-sizing: border-box;
    border: none;
    position: relative;
    min-width: 60px;
    min-height: 60px;
    padding: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @media (min-width: $breakpoint-medium) {
        display: none;
    }
}

.page-header--without-js .page-header__menu-list {
    @media (max-width: $breakpoint-small-down) {
        display: block;
        position: relative;
    }
}

.page-header--without-js .page-header__toggler {
    @media (max-width: $breakpoint-small-down) {
        display: none;
    }
}

.page-header__bar {
    padding: 12px 0 12px 0 20px;

    @media (min-width: $breakpoint-large) {
        padding: 22px 0 22px 0 20px;
    }

    @media (min-width: $breakpoint-small-down) {
        display: flex;
    }
}

.page-header__nav  {
    display: flex;
    justify-content: space-between;

    @media (min-width: $breakpoint-medium) {
        display: contents;
    }
} 

