.page-header {
    position: relative;
    
    @media (min-width: $breakpoint-medium) {
      min-height: 80px;
      margin: 0 auto;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
    }
  
    @media (min-width: $breakpoint-large) {
      max-width: 1360px;
      margin-right: auto;
      margin-left: auto;
    }
}

.page-header__nav  {
    display: flex;
    justify-content: space-between;

    @media (min-width: $breakpoint-medium) {
        display: contents;
    }
}
