.slider {
  &-wrapper {
    position: relative;
    overflow: hidden;
  }
}

.slider-pagination {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  // transition:
  flex-direction: column;

  @media (min-width: $breakpoint-medium) {
    flex-direction: row;
  }

  &__item {
    min-height: 656px;
    // flex-shrink: 0; //растянет на всю страницу
  }

  &__item-wrapper {
    display: grid;
    box-sizing: border-box;
    gap: 10px;

    @media (min-width: $breakpoint-large) {
      align-items: center;
      gap: 30px;
    }
  }

  &__item--decaf {
    background-color: $color-flat-white;
  }

  &__item--lavanda {
    background-color: $color-lavender-latte;
  }

  &__item--espresso {
    background-color: $color-espresso;
  }

  &__item-description {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $breakpoint-large) {
      align-items: flex-start;
    }
  }

  &__item-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  &__description {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;

    @media (min-width: $breakpoint-medium) {
      font-size: 20px;
      line-height: 32px;
    }

    @media (min-width: $breakpoint-large) {
      align-items: start;
      text-align: left;
      padding-left: 0;
    }
  }

  &__description-badge {
    margin: 10px 0 4px 0;
    color: $color-base-primary;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.48px;
    text-transform: uppercase;

    @media (min-width: $breakpoint-large) {
      text-align: left;
    }
  }

  &__description-heading {
    margin-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.72px;
    padding: 0 20px;

    @media (min-width: $breakpoint-medium) {
      font-size: 56px;
      line-height: 80px;
      letter-spacing: 1.12px;
      padding: 0;
    }
  }

  &__buy {
    display: flex;
    align-items: center;
  }

  &__buy-old-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 32px; /* 200% */
    text-decoration: line-through;
    color: $color-base-primary;
    margin-right: 6px;
  }

  &__buy-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px; /* 200% */
    margin-right: 21px;
  }

  &__buy-button {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px 20px;
    border-radius: 4px;
    color: $color-base-white;
    background-color: $color-base-primary;
    border: none;

    &:hover,
    &:focus {
      background-color: $color-primary-lighter;
    }

    &:active {
      background-color: $color-primary-darker;
    }
    // disabled {
    //     background-color: $color-base-grey;
    //
  }
}

.slider-button {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 40px;
  height: 100%;

  &::after {
    content: "";
    width: 11px;
    height: 20px;
    margin: auto;
    background: url("../../images/icons/arrow-left.svg") no-repeat center;
  }

  @media (min-width: $breakpoint-medium) {
    width: 80px;
    background: url("../../images/icons/arrow-left.svg") no-repeat center;
  }

  &--prev {
    left: 0;

    @media (min-width: $breakpoint-medium) {
      padding-left: 24px;
    }
  }

  &--next {
    right: 0;

    @media (min-width: $breakpoint-medium) {
      padding-right: 24px;
    }
  }
}
